body {
    background-color: #0000FF;
    a:link {color: #FF0000}
}
h1 {
    color: #FF6347;
}

p {
    color: #FF0000;
}
h1 {
    text-align: center;
    font-size:50px
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size:50px
}
p  {
    font-size:20px
}
img  {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    width: 50%;
}